*{
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif ;
  box-sizing: border-box;
}


html, body{
  background-color: darkslategrey;
  color: azure;
  height: 100%;
  width: 100%;
}

.parent{
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  height: 33%;
  border: 2px solid whitesmoke ;
  padding: 20px;
  margin : 20px;
  text-align: center;
  border-radius: 2%;
}

.card p {
  margin-top: 20px;
  margin-bottom: 20px ;
}

.card img {
  height: 200px;
  width: 170px;
  border-radius: 50%;
  margin: 12px;
  object-fit: fill;
  border: 2px solid black;
}

.card button {
  height : 33px ;
  width : 88px ;
  border-radius: 20px;
}
